<table>
  <thead>
    <tr>
      <th *ngFor="let title of tableHeaders">{{title.content}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableRows; let i = index">
      <td *ngFor="let cell of row.cells">
        <span *ngIf="isEditing.indexOf(row) === -1">{{cell.content}}</span>
        <div class="ui input" *ngIf="!(isEditing.indexOf(row) == -1)">
          <input type="text" [(ngModel)]="cell.content" [name]="cell.content">
        </div>
      </td>
      <td>
        <button *ngIf="isEditing.indexOf(row) === -1" (click)="editRow(row)">Edit</button>
        <button *ngIf="!(isEditing.indexOf(row) == -1)" (click)="cancelEditing(row)">Ok</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="addRow()">Add</button>